requiredParams = ['config']
daefaultParams = ['config':'template.yml']

for (key in requiredParams) 
{ 
    if (!params.containsKey(key)) 
    {
        if (key == 'config') 
        {
            println "Please specify a configuration file with the option --config \n"
            System.exit(-1)
        } 
        else if (defaultParams.containsKey(key)) 
        {
            params[key] = defaultParams[key] 
        }
    }
}


//Load YAML configuration..  


import org.yaml.snakeyaml.Yaml

Yaml parser = new Yaml()
YAML = parser.load((params.config as File).text);
Keys = YAML.keySet();

//Set Configuration ..
Executor_Parameters = null;
if(Keys.find{ it == 'PROCESS' } != null )//Process specific parameters..
{
    Executor_Parameters = YAML.get('PROCESS');
    Keys.removeAll{ it == 'PROCESS'};
}
process.executor  = ( Executor_Parameters.executor ) ? Executor_Parameters.executor : "";
process.cpus = ( Executor_Parameters.cpus ) ?  Executor_Parameters.cpus : "" ; 
process.memory = ( Executor_Parameters.memory ) ?  Executor_Parameters.memory : "" ; 
process.clusterOptions = ( Executor_Parameters.clusterOptions ) ?  Executor_Parameters.clusterOptions : "" ; 
docker.enabled=true
params.cpus = Math.max((process.cpus as int), 1)

//Default parameters:with
params.seed = '1k'

if(Keys.find{ it == 'VIRUS' } != null )
{
    Options = YAML.get("VIRUS")
    params.virus_name = Options.name
    params.virus_name2 = Options.name2
    params.virus_filter = Options.filter
    params.virus_end = Options.virus_end
    params.virus_start = Options.virus_start
    params.reference = Options.reference
    params.haplotypes = Options.haplotypes
    params.genome_length = Options.genome_length
    params.genomes = Options.genomes
    params.busco_clade = Options.busco_clade
}
else
{
   println ("VIRUS key information is missing");System.exit(-1); 
}
if(Keys.find{ it == 'MODULES' } != null )
{
    Options = YAML.get("MODULES")
    params.summary = 0 
    params.align = Options.align
    params.tree = Options.tree
    params.make_pvg = Options.make_pvg
    params.viz1 = Options.viz1
    params.gfastat = Options.gfastat
    params.bandage = Options.bandage
    params.odgi = Options.odgi
    params.openness_panacus = Options.openness_panacus
    params.getbases = Options.getbases
    params.viz2 = Options.viz2
    params.heaps = Options.heaps
    params.pavs = Options.pavs
    params.getvcf = Options.getvcf
    params.busco = Options.busco
    params.openness_pangrowth = Options.openness_pangrowth
    params.communities = Options.communities
}
else
{
   println ("MODULES key information is missing");System.exit(-1); 
}
if(Keys.find{ it == 'PARAMETERS' } != null )
{
    Options = YAML.get("PARAMETERS")
    params.seed = Options.seed
}
